


body
{ 
    margin: 0;
  margin-bottom: 40px;
 
    background: #eee;
}

/*----------- content ----------------------------------*/
.titulo{
    color: #555;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.generalidad{
    margin: 0px;
    padding: 0px;
    width: 85%;
    height: 200px;
    background: #dddddd;
}

.cont-tabla{
    background: white;    
    width: 100%;
    height: 80%;
    padding-bottom: 50px;
}

.tableclass{
    padding-top: 30px;
    width: 95%; 
    margin: auto; 
    min-width: 500px;
    font-size: 12px;
    text-align:center;
}


.configuracion-div{
    background: white;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    -webkit-box-shadow: 10px 8px 123px -6px rgba(23,74,70,0.29);
    -moz-box-shadow: 10px 8px 123px -6px rgba(23,74,70,0.29);
    box-shadow: 10px 8px 123px -6px rgba(23,74,70,0.29);
}

.colum-center{
    text-align:center;
}

.colum-id{
    text-align:center;
    width: 70px;
}

.contdatos{
    margin: auto;
    margin-bottom: 30px;
    width: 500px;
}

.paneltabs{
    width: 85%; 
    margin: auto; 
    margin-bottom: 30px; 
    min-width: 530px;
}

.cont-botones{
    margin-bottom: 15px;
}

.cont-detalle{
    margin-left: 5%;
    width: 90%;
    height: 250px;
    /*background: #F7D358;*/
    border-radius:3px;
}

.cuadro-general{
    border-radius:3px;
    padding: 15px;
    height: 175px;
    float: left;
}

.cuadro-p1{
    
    background: #ACD0C0;
}

.txt-datoscliente{
    height: 12px;
}

.cuadro1{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    /*background: #81BEF7;*/
    background: #20948B;
    
}

.cuadro2{
    /*background: #81BEF7;*/
    /*background: #20948B;*/
    background: #ACD0C0;
    font-size: 13px;
    text-align: right;

}

.cuadro3{
    padding-right: 25px;
    width: 35%;
    /*background: #57BEF7;*/
    /*background: #20948B;*/
    background: #ACD0C0;
}

.panel-detalle{
    width: 175px;
    height: 175px;
}

.alpha td{
    background-color: transparent;
    border-color: transparent;
    border-radius:3px;
    border-collapse: collapse;
}

.ui-panelgrid>*>tr,
.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.cont-pagos{
    border-radius:3px;
    padding: 2%;
    width: 35%;
    height: 310px;
    /*margin-left: 7.5%;*/
    margin-bottom: 10%;
    /*float: left;*/
    /*background: #7DA3A1;*/
    margin: 3%
}

.cont-ingresado{
    background: #A2D9CE;
}

.cont-calculado{
   /* background: #A1BE95;*/
  /* background: #2ecc71;*/
  background: #68829e;
}

.panelgrid-pagos{
    width: 175px;
    height: 175px;
}

.panelgrid-info{
    width: 125px;
    height: 125px;
}

.cuadro1-pago{
    padding-left: 15px;
    padding-right: 15px;
}

.cuadro2-pago{
    width: 40%;
    /*background: #81BEF7;*/
    /*background: #A1D6E2;*/
    font-size: 14px;
    text-align: right;
    
}

.cuadro-general-pago{
    border-radius:3px;
    padding: 10px;
    height: 125px;
    float: left;
}

.titulo-pago{
    color: #222;
    font-size: 18px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 5px;
}

.cont-detalle-pago{
    margin-left: 5%;
    width: 90%;
    height: 200px;
    /*background: #F7D358;*/
    border-radius:3px;
}

.txt-datos-cliente{
    height: 25px;
}

.dialog-txt{
    text-align: left;
}

/*----------- End content ----------------------------------*/

/*----botones ---------------*/
.btn-info{
    margin-left: 25%;
}

.busqueda{
    margin-top: 1%;
    margin-left: 20%;
    width: 90%;
    padding: 6px;
    font-size: 1em;
    font-weight: 400;
    border: 1px solid  #e6e6e6;
    border-radius: 4px;
    padding-left: 1%;
}

/*
.btn-search{
    margin: 1%;
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    border: none;
    background-color: #2ecc71;
    border-bottom: 4px solid #27ae60;
    border-bottom: 4px solid #27ae60;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;  
}
*/

.btn-buscar{
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.btn-crear{
    margin-top: 2%;
    margin-left: 2%; 
}

.btn-agregar{
    margin-left: 60%;
}
.btn-pagar{
    margin-right: 5%;
}
.btn-detalle{
    margin-right: 3%;
}

.btn-registrarpago{
    margin-top: 5%;
    margin-left: 20%;
}

.btn-eliminar{
    margin-top: 2%;
    margin-left: 2%; 
    background: #fb6542;
}
.btn-config:hover{
    
    background: #FE9A2E;
}


.btn-calcular{
    margin: 4%;
}

/*---- End botones -----------*/

/*-----Menu Left -----*/

.sidebar-fondo{
    position: absolute;
    height: 80%; 
    width: 10%;
    background: #333;
}

.sidebar{
    position: fixed;
    width: 10%;
    height: 100%;
    background: #333;
    color: #fff;
    outline: 1px solid #2a2a2a;
}

.sidebar h2{
    text-align: center;
    margin: 0;
    padding: 15px;
    background: #2a2a2a;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.sidebar li{
    outline: 1px solid #2a2a2a;
    transition: all 0.3s;
}

.sidebar li:hover{
    background: #444;
    border-left: 5px solid #2ECCFA;
}

.sidebar a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 25px;
}

/*----------End Menu Left-------------*/

/*--- header ---*/
.arriba{
    padding: 0;
    width: 100%;
    height: 60px;
}
.top-bar {
   /* position: absolute;*/
    width: 100%;
    height: 60px;
    z-index: 99999;
    padding-top:0px;
    background: rgba(26, 94, 113, 0.85);
}

.tituloheader{
    margin: 0;
    margin-left: 1%;
    padding-top: 1%;
    
    font-family: 'Lato', sans-serif;
    color: #eeeeee;
    
}


.enlinea{
    border-radius: 100%;
    display: inline-block; 
}

/*-- //nav Efectos --*/
.nav-cont{ 
    margin-right: 5%;
    font-family: 'Lato', sans-serif;
    color: #eeeeee;
}

a{
    text-decoration:none;
}

#url1:hover, #url2:hover, #url3:hover, #url4:hover{
    /*background-color: #FE9A2E;*/
    color: #FE9A2E;
}

nav.linkEffects.linkHoverEffect_12 ul li {
    list-style: none;
    display: inline-block;
    margin-right:6px;
}
nav.linkEffects.linkHoverEffect_12 {
    float: right;
}
.linkHoverEffect_12 a {
    padding: 10px 14px;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
    font-size: 1.1em;
    color: #fff;
}
.linkHoverEffect_12  a span::before {
    height: 100%;
    width: 2px;
    background: #b56d10;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.linkHoverEffect_12  a span::after {
    height: 100%;
    width: 2px;
    background: #b56d10;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.linkHoverEffect_12  a::before {
    height: 2px;
    width: 100%;
    background: #b56d10;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.linkHoverEffect_12  a::after {
    height: 2px;
    width: 100%;
    background: #b56d10;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.linkHoverEffect_12 a:hover {
    color: #f9f7f5;
}
.linkHoverEffect_12  a:hover::before, .linkHoverEffect_12  a:hover::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.linkHoverEffect_12  a:hover span::before, .linkHoverEffect_12  a:hover span::after {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
/*-- //nav Efectos--*/
/*-- //header ---*/


/*-- footer --*/
.mandarabajo{
    position: absolute;
  bottom: 0;
    width: 100%;
}

.titulo-footer{
    color: #FFFFFF;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.oculto{
    display: none;
}

.agileits-w3layouts-footer{
    background:#14112c;
    padding:0.2em 0;
    padding-left: 15%;
    padding-right: 15%;

}
.w3-agile-grid h5{
    color: #FFFFFF;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 0.2m 0;
}
.w3-agile-grid p{
    color: #b5b5b5;
    font-size: .7em;
    line-height: 1.8em;
    margin: 0;
}
.agileinfo-social-grids {
    margin: 0.3em 0 0 0;
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook, .agileinfo-social-grids ul li a i.fa.fa-twitter, .agileinfo-social-grids ul li a i.fa.fa-rss, .agileinfo-social-grids ul li a i.fa.fa-google-plus{
    height: 30px;
    width: 30px;
    border: solid 2px #1f1d36;
    line-height: 29px;
    background: #1f1d36;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.copyright{
    padding:0.2em 0;
    text-align:center;
    background:#1f1d36;
}
.copyright p{
    color:#b5b5b5;
    font-size:.8em;
    margin:0;
}
.copyright p a{
    color:#FFFFFF;
    text-decoration:none;
}
.copyright p a:hover{
    color:#ff5301;	
}

/*----------- //footer --------------------*/


@media(max-width:971px){
    #menu-nav{
        font-size: 15px;
        margin-right: 1.5%;
    }
    .tituloheader{
        margin-left: 0%;
        
    }
}

@media(max-width:916px){
   #topic-header{
        font-size: 25px;
        margin-top: 3%;
    } 
}

@media(max-width:839px){
    #menu-nav{
        font-size: 14px;
        margin-right: 0%;
    }
    #topic-header{
        
    }
}

@media(max-width:719px){
    #menu-nav{
        display: none;
    }
}

@media(max-width:410px){
    #topic-header{
        margin-top: 5%;
        font-size: 25px;
    }
}

@media(max-width:310px){
    #topic-header{
        margin-top: 10%;
        font-size: 20px;
    }
}

@media(max-width:600px){
    #topic-footer{
        display: none;   
    }
    #text-footer{
        display: none;   
    }
    #copy{
        display: none;
    }
    #copy2{
        display: block;
    }
    #topic-footer2{
        display: block;
    }
}


